.mat-card-simples{
  max-width: 300px;
  background-color: rgb(248, 248, 248);
  margin-top: 10px;
}

.mat-card{
  max-width: 600px;
  background-color: rgb(128, 221, 185);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.mat-form-field{
  margin-left: 5px;
}

.mat-card-subtitle{
  display: flex;
  margin-left: 5px;
 }

 